<ion-view title="竞猜详情" cache-view="false">
  <ion-header-bar align-title="center" class="bar-color">
    <button class="button button-clear icon ion-reply textColor" ng-click="back_guess()"></button>
    <h1 class="title">2001期</h1>
    <button class="button button-clear textColor">已投注:55555M</button>
  </ion-header-bar>

  <ion-content has-bouncing="true">
    <div class="gd-content">
      <div class="row">
        <div class="col col-20">
          <span class="badge badge-dark textColor">金融</span>
        </div>
        <div class="col col-80">
          <span class="textColor">猜猜谁更牛，3月15日周四，上证指数、沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？沪深300、深圳？</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <hr>
        </div>
      </div>
      <div class="row choiceQuest" ng-click="choiceQuest('A',0)">
        <div class="col col-10 clo-gdcolor">
          <span class="badge badgeColor">A</span>
        </div>
        <div class="col col-40 clo-gdcolor">
          <span class="textColor">上证指数</span>
        </div>
        <div class="col col-50 clo-gdcolor text-right">
          <span class="badge textColor">赔率1.2</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-10 "></div>
        <div class="col col-40 ">
          <span class="yellow">5199人支持 <i class="icon ion-arrow-up-b"></i></span>
        </div>
      </div>
      <div class="row choiceQuest" ng-click="choiceQuest('B',1)">
        <div class="col col-10 clo-gdcolor">
          <span class="badge badgeColor">B</span>
        </div>
        <div class="col col-40 clo-gdcolor">
          <span class="textColor">上证指数</span>
        </div>
        <div class="col col-50 clo-gdcolor text-right">
          <span class="badge textColor">赔率1.2</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-10 "></div>
        <div class="col col-40 ">
          <span class="yellow">5199人支持 <i class="icon ion-arrow-up-b"></i></span>
        </div>
      </div>
      <div class="row choiceQuest" ng-click="choiceQuest('C',2)">
        <div class="col col-10 clo-gdcolor">
          <span class="badge badgeColor">C</span>
        </div>
        <div class="col col-40 clo-gdcolor">
          <span class="textColor">上证指数</span>
        </div>
        <div class="col col-50 clo-gdcolor text-right">
          <span class="badge textColor">赔率1.2</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-10 "></div>
        <div class="col col-40 ">
          <span class="yellow">5199人支持 <i class="icon ion-arrow-up-b"></i></span>
        </div>
      </div>
      <div class="row choiceQuest" ng-click="choiceQuest('D',3)">
        <div class="col col-10 clo-gdcolor">
          <span class="badge badgeColor">D</span>
        </div>
        <div class="col col-40 clo-gdcolor">
          <span class="textColor">上证指数</span>
        </div>
        <div class="col col-50 clo-gdcolor text-right">
          <span class="badge textColor">赔率1.2</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-10 "></div>
        <div class="col col-40 ">
          <span class="yellow">5199人支持 <i class="icon ion-arrow-up-b"></i></span>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col col-100 text-center">
          <span class="textColor">开奖时间：2016-3-20 12:00:00</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-100 text-center">
          <span class="textColor">停投时间：2016-3-25 12:00:00</span>
        </div>
      </div>
    </div>
  </ion-content>



  <div class="bar bar-subfooter">
    <div class="row">
      <div class="col col-50 text-center yellow">
        我的匣豆：9999
      </div>
      <div class="col col-50 text-center yellow">
        我的流量：99999M
      </div>
    </div>
  </div>
  <ion-footer-bar align-title="center">
    <div class="row">
      <div class="col col-50 text-center yellow" ng-click="betting()">
        立即投注
      </div><div>|</div>
      <div class="col col-50 text-center yellow" ng-click="changequest()">
        换一题
      </div>
    </div>
  </ion-footer-bar>

</ion-view>









