<ion-view title="参与记录">
    <ion-header-bar align-title="center" class="bar-color">
        <button class="button button-clear icon ion-reply textColor" ng-click="back_history()"></button>
        <h1 class="title">2001期</h1>
        <button class="button button-clear textColor">已投注:12000M</button>
    </ion-header-bar>

    <ion-content has-bouncing="true">
        <div class="gd-content">
            <div class="row">
                <div class="col col-20">
                    <span class="badge badge-dark textColor">金融</span>
                </div>
                <div class="col col-80">
                    <span class="textColor">猜猜谁更牛，3月15日周四，上证指数、沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？沪深300、深圳？</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col col-10 clo-color">
                    <span class="badge badgeColor">A</span>
                </div>
                <div class="col col-40 clo-color">
                    <span class="textColor">上证指数</span>
                </div>
                <div class="col col-50 clo-color text-right">
                    <span class="badge textColor">赔率1.2</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-10 "></div>
                <div class="col col-40 ">
                    <span class="yellow">&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-10 clo-color2">
                    <span class="badge badgeColor2">B</span>
                </div>
                <div class="col col-40 clo-color2">
                    <span class="textColor2">上证指数</span>
                </div>
                <div class="col col-50 clo-color2 text-right">
                    <span class="badge textColor2">赔率1.2</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-10 "></div>
                <div class="col col-40 ">
                    <span class="yellow">已支持200匣豆 <i class="icon ion-arrow-up-b"></i></span>
                </div>
            </div>
            <div class="row">
                <div class="col col-10 clo-color">
                    <span class="badge badgeColor">C</span>
                </div>
                <div class="col col-40 clo-color">
                    <span class="textColor">上证指数</span>
                </div>
                <div class="col col-50 clo-color text-right">
                    <span class="badge textColor">赔率1.2</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-10 "></div>
                <div class="col col-40 ">
                    <span class="yellow">&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-10 clo-color">
                    <span class="badge badgeColor">D</span>
                </div>
                <div class="col col-40 clo-color">
                    <span class="textColor">上证指数</span>
                </div>
                <div class="col col-50 clo-color text-right">
                    <span class="badge textColor">赔率1.2</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-10 "></div>
                <div class="col col-40 ">
                    <span class="yellow">&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col col-100 text-center">
                    <span class="textColor">{{prompt1}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-100 text-center">
                    <span class="textColor">{{prompt2}}</span>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar align-title="center">
        <div class="row">
            <div class="col col-50 text-center yellow" ng-click="continue()">
                继续竞猜
            </div><div>|</div>
            <div class="col col-50 text-center yellow" ng-click="share()">
                分享给好友
            </div>
        </div>
    </ion-footer-bar>

</ion-view>









