<ion-view view-title="匣子游戏">
    <ion-header-bar align-title="center" class="bar-color">
        <div class="buttons">
            <div class="tbg-imgbox0" ng-click="toggleLeftSideMenu()">
                <img src="img/userheader.jpg" width="35px;" height="35px;">
            </div>
        </div>
        <h1 class="title">匣豆:999 流量:999M</h1>
        <div class="buttons">
            <button class="button button-outline header-btn">兑换</button>
        </div>
    </ion-header-bar>

    <ion-header-bar class="bar bar-subheader slide-subheader">
        <ion-slide-box does-continue="true" slide-interval="2000" auto-play="true">
            <ion-slide>
                <div class="box blue">
                    <img src="img/slide-img1.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box green">
                    <img src="img/slide-img1.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <img src="img/slide-img1.jpg">
                </div>
            </ion-slide>
        </ion-slide-box>
        <ion-list>
            <ion-item>
                <span class="yellow"><i class="icon ion-paper-airplane"></i> 玩游戏赢流量</span>
            </ion-item>
        </ion-list>
    </ion-header-bar>

    <ion-content has-bouncing="true" style="margin-top: 150px;">
        <div class="row border-line">
            <div class="col col-50">
                <img src="img/game-img1.jpg" width="100%">
            </div>
            <div class="col col-50 text-left textColor">
                有奖竞猜<br>
                猜实事猜热点流量翻倍赢！<br>
                2000人参与<br>
            </div>
        </div>
        <div class="row border-line">
            <div class="col col-50">
                <img src="img/game-img1.jpg" width="100%">
            </div>
            <div class="col col-50 text-left textColor">
                匣子夺宝<br>
                猜实事猜热点流量翻倍赢！<br>
                2000人参与<br>
            </div>
        </div>
        <div class="row border-line">
            <div class="col col-50">
                <img src="img/game-img1.jpg" width="100%">
            </div>
            <div class="col col-50 text-left textColor">
                经典棋牌<br>
                猜实事猜热点流量翻倍赢！<br>
                2000人参与<br>
            </div>
        </div>
        <div class="row border-line">
            <div class="col col-50">
                <img src="img/game-img1.jpg" width="100%">
            </div>
            <div class="col col-50 text-left textColor">
                经典棋牌<br>
                猜实事猜热点流量翻倍赢！<br>
                2000人参与<br>
            </div>
        </div>
        <div class="row border-line">
            <div class="col col-50">
                <img src="img/game-img1.jpg" width="100%">
            </div>
            <div class="col col-50 text-left textColor">
                经典棋牌<br>
                猜实事猜热点流量翻倍赢！<br>
                2000人参与<br>
            </div>
        </div>

    </ion-content>
</ion-view>
