<ion-view title="竞猜首页" cache-view="false">
  <ion-header-bar ng-show="false">
  </ion-header-bar>
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-header-bar align-title="center" class="bar-color">
        <div class="buttons">
          <div class="tbg-imgbox0" ng-click="toggleLeftSideMenu()">
            <img src="img/userheader.jpg" width="35px;" height="35px;">
          </div>
        </div>
        <h1 class="title">匣豆:999 流量:999M</h1>
        <div class="buttons">
          <button class="button button-outline header-btn">兑换</button>
        </div>
      </ion-header-bar>

        <ion-content has-bouncing="true">
          <div class="content-color">
            <div class="row">
              <div class="col col-50 text-left">
                <span class="badge badge-dark textColor">金融</span>
                <span class="yellow">最高x4.6倍</span>
              </div>
              <div class="col col-50 text-right">
                <i class="ion ion-pin"></i>
                <span class="textColor">2001期</span>&nbsp;
                <i class="ion ion-person-stalker"></i>
                <span class="textColor">1800人</span>
              </div>
            </div>
            <div class="row">
              <div class="col col-25 clo-color">
                <img src="img/finance-img.png" width="100px;" height="100px;">
              </div>
              <div class="col col-70 clo-color">
                 <span class="textColor">猜猜谁更牛，3月15日周四，上证指数、沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？</span>
              </div>
              <div class="col col-10 clo-color" ng-click="tbg_detail()">
                 <i class="ion ion-chevron-right yellow icon-floatr"></i>
              </div>
            </div>
            <div class="row">
              <div class="col col-100">
                <span class="textColor">开奖时间：2016-3-20 12:00:00</span>
              </div>
            </div>
          </div>

          <div class="content-color">
            <div class="row">
              <div class="col col-50 text-left">
                <span class="badge badge-dark textColor">体育</span>
                <span class="yellow">最高x4.6倍</span>
              </div>
              <div class="col col-50 text-right">
                <i class="ion ion-pin"></i>
                <span class="textColor">2002期</span>&nbsp;
                <i class="ion ion-person-stalker"></i>
                <span class="textColor">1500人</span>
              </div>
            </div>
            <div class="row">
              <div class="col col-25 clo-color">
                <img src="img/sport-img.png" width="100px;" height="100px;">
              </div>
              <div class="col col-70 clo-color">
                <span class="textColor">猜猜谁更牛，3月15日周四，上证指数、沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？</span>
              </div>
              <div class="col col-10 clo-color">
                <i class="ion ion-chevron-right yellow icon-floatr"></i>
              </div>
            </div>
            <div class="row">
              <div class="col col-100">
                <span class="textColor">开奖时间：2016-3-20 12:00:00</span>
              </div>
            </div>
          </div>

          <div class="content-color">
            <div class="row">
              <div class="col col-50 text-left">
                <span class="badge badge-dark textColor">娱乐</span>
                <span class="yellow">最高x4.6倍</span>
              </div>
              <div class="col col-50 text-right">
                <i class="ion ion-pin"></i>
                <span class="textColor">2003期</span>&nbsp;
                <i class="ion ion-person-stalker"></i>
                <span class="textColor">1000人</span>
              </div>
            </div>
            <div class="row">
              <div class="col col-25 clo-color">
                <img src="img/play-img.png" width="100px;" height="100px;">
              </div>
              <div class="col col-70 clo-color">
                <span class="textColor">猜猜谁更牛，3月15日周四，上证指数、沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？</span>
              </div>
              <div class="col col-10 clo-color">
                <i class="ion ion-chevron-right yellow icon-floatr"></i>
              </div>
            </div>
            <div class="row">
              <div class="col col-100">
                <span class="textColor">开奖时间：2016-3-20 12:00:00</span>
              </div>
            </div>
          </div>

          <div class="content-color">
            <div class="row">
              <div class="col col-50 text-left">
                <span class="badge badge-dark textColor">金融</span>
                <span class="yellow">最高x4.6倍</span>
              </div>
              <div class="col col-50 text-right">
                <i class="ion ion-pin"></i>
                <span class="textColor">2004期</span>&nbsp;
                <i class="ion ion-person-stalker"></i>
                <span class="textColor">1900人</span>
              </div>
            </div>
            <div class="row">
              <div class="col col-25 clo-color">
                <img src="img/finance-img.png" width="100px;" height="100px;">
              </div>
              <div class="col col-70 clo-color">
                <span class="textColor">猜猜谁更牛，3月15日周四，上证指数、沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？</span>
              </div>
              <div class="col col-10 clo-color">
                <i class="ion ion-chevron-right yellow icon-floatr"></i>
              </div>
            </div>
            <div class="row">
              <div class="col col-100">
                <span class="textColor">开奖时间：2016-3-20 12:00:00</span>
              </div>
            </div>
          </div>

          <div class="content-color">
            <div class="row">
              <div class="col col-50 text-left">
                <span class="badge badge-dark textColor">娱乐</span>
                <span class="yellow">最高x4.6倍</span>
              </div>
              <div class="col col-50 text-right">
                <i class="ion ion-pin"></i>
                <span class="textColor">2005期</span>&nbsp;
                <i class="ion ion-person-stalker"></i>
                <span class="textColor">2500人</span>
              </div>
            </div>
            <div class="row">
              <div class="col col-25 clo-color">
                <img src="img/play-img.png" width="100px;" height="100px;">
              </div>
              <div class="col col-70 clo-color">
                <span class="textColor">猜猜谁更牛，3月15日周四，上证指数、沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？沪深300、深圳成指哪个涨幅高？</span>
              </div>
              <div class="col col-10 clo-color">
                <i class="ion ion-chevron-right yellow icon-floatr"></i>
              </div>
            </div>
            <div class="row">
              <div class="col col-100">
                <span class="textColor">开奖时间：2016-3-20 12:00:00</span>
              </div>
            </div>
          </div>

        </ion-content>
    </ion-side-menu-content>


    <ion-side-menu side="left">
      <!--侧滑页面顶部bar-->
      <!--<ion-header-bar align-title="center">-->
      <!--</ion-header-bar>-->
      <!--侧滑页面主要内容-->
      <ion-content class="content-left">
        <ion-list>
          <div class="tbg-leftheder">
            <div class="row">
              <div class="col col-100">
                <div class="tbg-imgbox">
                  <img src="img/userheader.jpg" width="80px;" height="80px;">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-100">
                流小侠
              </div>
            </div>
            <div class="row">
              <div class="col col-100">
                ID：123456789
              </div>
            </div>
            <div class="row">
              <div class="col col-50">
                <i class="ion ion-star"></i> 99999
              </div>
              <div class="col col-50">
                <i class="ion ion-wifi"></i> 99999M
              </div>
            </div>
          </div>
        </ion-list>
        <ion-list>
          <ion-item>
            <i class="icon ion-home"></i> 匣子个人中心
          </ion-item>
          <ion-item>
            <i class="icon ion-magnet"></i> 随手挣流量
          </ion-item>
          <ion-item>
            <i class="icon ion-paper-airplane"></i> 匣子游戏
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>


  </ion-side-menus>
</ion-view>









