<ion-view view-title="本周榜单">
  <ion-header-bar align-title="center" class="bar-color">
    <div class="buttons">
      <div class="tbg-imgbox0">
        <img src="img/userheader.jpg" width="35px;" height="35px;">
      </div>
    </div>
    <h1 class="title">匣豆:999 流量:999M</h1>
    <div class="buttons">
      <button class="button button-outline header-btn">兑换</button>
    </div>
  </ion-header-bar>
  <ion-header-bar class="bar bar-subheader">
    <div class="row">
      <div class="col col-25 text-center textColor">排名</div>
      <div class="col col-25 text-center textColor">竞猜达人</div>
      <div class="col col-25 text-center textColor">答题数量</div>
      <div class="col col-25 text-center textColor">竞猜总收入</div>
    </div>
  </ion-header-bar>
  <ion-content has-bouncing="true">
      <div class="row border-line">
        <div class="col col-25 text-center yellow">第1名</div>
        <div class="col col-25 text-center yellow">流小侠</div>
        <div class="col col-25 text-center yellow">58</div>
        <div class="col col-25 text-center yellow">1200匣豆</div>
      </div>
    <div class="row border-line">
      <div class="col col-25 text-center yellow">第2名</div>
      <div class="col col-25 text-center yellow">流小侠</div>
      <div class="col col-25 text-center yellow">58</div>
      <div class="col col-25 text-center yellow">1200匣豆</div>
    </div>
    <div class="row border-line">
      <div class="col col-25 text-center yellow">第3名</div>
      <div class="col col-25 text-center yellow">流小侠</div>
      <div class="col col-25 text-center yellow">58</div>
      <div class="col col-25 text-center yellow">1200匣豆</div>
    </div>
    <div class="row border-line">
      <div class="col col-25 text-center yellow">4</div>
      <div class="col col-25 text-center yellow">流小侠</div>
      <div class="col col-25 text-center yellow">58</div>
      <div class="col col-25 text-center yellow">1200匣豆</div>
    </div>
    <div class="row border-line">
      <div class="col col-25 text-center yellow">5</div>
      <div class="col col-25 text-center yellow">流小侠</div>
      <div class="col col-25 text-center yellow">58</div>
      <div class="col col-25 text-center yellow">1200匣豆</div>
    </div>
    <div class="row border-line">
      <div class="col col-25 text-center yellow">6</div>
      <div class="col col-25 text-center yellow">流小侠</div>
      <div class="col col-25 text-center yellow">58</div>
      <div class="col col-25 text-center yellow">1200匣豆</div>
    </div>
    <div class="row border-line">
      <div class="col col-25 text-center yellow">7</div>
      <div class="col col-25 text-center yellow">流小侠</div>
      <div class="col col-25 text-center yellow">58</div>
      <div class="col col-25 text-center yellow">1200匣豆</div>
    </div>
    <div class="row border-line">
      <div class="col col-25 text-center yellow">8</div>
      <div class="col col-25 text-center yellow">流小侠</div>
      <div class="col col-25 text-center yellow">58</div>
      <div class="col col-25 text-center yellow">1200匣豆</div>
    </div>
  </ion-content>
</ion-view>

